@font-face {
	src: url(./fonts/Product\ Sans\ Regular.ttf);
	font-family: Product Sans;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Product Sans';
}

html {
	scroll-behavior: smooth;
}

.container {
	padding: 0 100px 0 100px;
}

.main-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

body {
	background-color: #0b0c10;
	overflow-x: hidden;
}

.text p {
	color: #c5c6c7;
}

.about h1 {
	color: #66f6f1;
}

li {
	list-style: none;
	margin-left: 30px;
}

a {
	text-decoration: none;
	font-size: 2vw;
	text-transform: uppercase;
	position: relative;
	top: 50%;
	bottom: 50%;
	transform: translate(-50%);
}

.main-section {
	height: calc(100vh - 81.6px);
}

.text {
	margin-top: 70px;
}

.text h1 {
	color: #66f6f1;
	font-size: 5vw;
	cursor: context-menu;
	letter-spacing: 5px;
}

.text h1 {
	display: flex;
	flex-direction: column;
}

.myName,
.projects {
	opacity: 100%;
	color: #bebebe;
}

.text p {
	letter-spacing: 3px;
	word-spacing: 10px;
	font-size: .8rem;
}

.text a {
	padding: 12px 25px;
	background-color: none;
	border: 3px solid #45a29e;
	color: #45a29e;
	font-size: .8rem;
	letter-spacing: 2px;
	position: relative;
	top: 80px;
	left: 60px;
	overflow: hidden;
	transition: .5s;
	display: inline-block;
}

.text a:hover {
	color: #0b0c10;
}

.text a::before {
	content: '';
	background-color: #66f6f1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0%;
	z-index: -1;
	transition: .5s;
}

.text a:hover::before {
	height: 100%;
}

.about {
	height: 100vh;
	margin-top: 100px;
}

.about h1 {
	font-size: 10rem;
	z-index: 0;
	opacity: .1;
}

.about-info {
	max-width: 900px;
	box-shadow: 0 0 1.2rem rgba(107, 211, 104, 0.25);
	padding: 50px;
	position: relative;
	top: -60px;
	left: 50%;
	right: 50%;
	transform: translateX(-50%);
	z-index: 1;
	opacity: 50%;
}

.about-info p {
	font-size: 1.5rem;
	color: #bebebe;
}

.about-info p:nth-child(2),
.about-info p:last child {
	margin-top: 30px;
}

.about img {
	width: 300px;
	position: relative;
	top: -300px;
	left: calc(100% - 100px);
	right: calc(100% - 100px);
	transform: translateX(calc(-100% + 100px));
}

@media (max-width: 786px) {
	.container {
		padding: 0 50px 0 50px;
	}
}

@media (max-width: 375px) {
	.container {
		padding: 0 20px 0 20px;
	}

	.main-section h1 {
		font-size: 3rem;
	}
	.main-section p {
		font-size: 5vw;
	}
}
